body {
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    /* FIXA BAKGRUNDSFÄRGEN */
    background-color: rgb(139, 71, 92);
    overflow: hidden;
    height: 100vh;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    perspective: 800px;
}

a {
    /* cursor: pointer; */
    cursor: auto;
}

a:hover {
    text-decoration: none;
}

form {
    margin-top: 40px;
}

@media screen and (max-width: 1200px) {
    .cursor,
    .cursor2,
    .cursor3 {
        display: none
    }
}

/* #Primary style
 ================================================== */

.hero-section {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-image: url("../img_photo/skutan_froa_komp.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1) rotateX(0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
    transform-origin: center top;
}

.hero-section h1 {
    color: #fff;
    text-shadow: 2px 2px rgb(90, 89, 89);
    font-size: 8vw;
    line-height: 1;
    font-weight: 900;
}

.hero-section p {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: #ffdf00;
    text-shadow: 2px 2px rgb(90, 89, 89);
}

.hero-section p span {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hero-section p span:hover {
    opacity: 0.5;
    transition-duration: 0.4s;
}

body.about-on .hero-section {
    transform: scale(0.75);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.contact-on .hero-section {
    transform: scale(0.75);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.collage-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.portrait-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.manmade-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.wedding-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.work-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

body.nature-on .hero-section {
    transform: rotateX(-10deg);
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

.about-text {
    position: absolute;
    font-size: 30px;
    line-height: 1;
    opacity: 0.5;
    font-weight: 700;
    color: #ffdf00;
    text-shadow: 2px 2px rgb(90, 89, 89);
    letter-spacing: 2px;
    top: 50%;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: translateY(-50%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.about-text:hover {
    opacity: 1;
    transition-duration: 0.4s;
}

.about-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: #525356;
    transform: translateX(-100%);
    /* -webkit-transition: all 300ms linear;
    transition: all 300ms linear; */
    transition: transform 1s ease;
    z-index: 10;
}

body.about-on .about-section {
    transform: translateX(0);
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

.about-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}

.about-close:hover {
    transform: rotate(90deg);
}

.section-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.about-section img {
    width: 240px;
    height: 240px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.about-section p {
    letter-spacing: 1px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.about-section p span {
    letter-spacing: 1px;
    color: #ffdf00;
    font-size: 20px;
    font-weight: 700;
}

.contact-text {
    position: absolute;
    font-size: 30px;
    line-height: 1;
    opacity: 0.5;
    font-weight: 700;
    color: #ffdf00;
    text-shadow: 2px 2px rgb(90, 89, 89);
    letter-spacing: 2px;
    top: 50%;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: translateY(-50%) rotate(180deg);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.contact-text:hover {
    opacity: 1;
    transition-duration: 0.4s;
}

.contact-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: #525356;
    transform: translateX(100%);
    /* -webkit-transition: all 300ms linear;
    transition: all 300ms linear; */
    transition: transform 1s ease;
    z-index: 10;
}

body.contact-on .contact-section {
    transform: translateX(0);
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

.contact-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}

.contact-close:hover {
    transform: rotate(90deg);
}

.contact-section a {
    margin: 0 auto;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
}

.contact-section .social a {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffdf00;
}

/* FIXA HOVER ANNAN FÄRG */
.contact-section .social a:hover {
    cursor: pointer;
    /* color: rgb(139, 71, 92); */
    color: white;
    transition-duration: 0.4s;
}

/* MEDIA MAX 580PX */
@media screen and (max-width: 580px) {
    .contact-section a {
        font-size: 17px;
    }

    .contact-section .social a {
        margin-left: 3px;
        margin-right: 3px;
        font-size: 13px;
        letter-spacing: 0;
    }

    /* få till scroll */
    body.about-on,
    body.contact-on {
        overflow: auto;
    }
}

.nature-section,
.collage-section,
.portrait-section,
.manmade-section,
.wedding-section, 
.work-section {
    position: fixed;
    top: 100%;
    left: 0;
    padding: 100px 0;
    width: 100%;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #525356;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    z-index: 10;
}

.nature-close,
.collage-close,
.portrait-close,
.manmade-close,
.wedding-close,
.work-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: block;
    overflow: hidden;
    height: 30px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
    cursor: pointer;
    z-index: 11;
}

.nature-close:hover, 
.collage-close:hover,
.portrait-close:hover,
.manmade-close:hover,
.wedding-close:hover,
.work-close:hover {
    transform: rotate(90deg);
}

body.collage-on .collage-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

body.manmade-on .manmade-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

body.portrait-on .portrait-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

body.wedding-on .wedding-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

body.nature-on .nature-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

body.work-on .work-section {
    top: 0;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms;
}

.nature-section img,
.collage-section img,
.portrait-section img,
.manmade-section img,
.wedding-section img,
.work-section img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.nature-section h3,
.collage-section h3,
.portrait-section h3,
.manmade-section h3,
.wedding-section h3,
.work-section h3 {
    font-size: 7vw;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.nature-section p,
.collage-section p,
.portrait-section p,
.manmade-section p,
.wedding-section p,
.work-section p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 500;
}

.nature-section p span,
.collage-section p span,
.portrait-section p span,
.manmade-section p span,
.wedding-section p span,
.work-section p span {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #ffdf00;
}

/* #Link to page
 ================================================== */

.logo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block;
    z-index: 200000;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
    mix-blend-mode: difference;
}

/* MEDIA MAX 967PX */
@media (max-width: 967px) {
    .hero-section h1 {
        font-size: 11vw;
    }

    .hero-section p {
        font-size: 18px;
    }

    .hero-section p span {
        margin-left: 10px;
        margin-right: 10px;
    }

/* BEHÖVER EVENTUELLT ÄNDRA DENNA */    
    .col-12 {
        max-width: 80%;
    }

    .nature-section h3,
    .collage-section h3,
    .portrait-section h3,
    .wedding-section h3,
    .work-section h3 {
        font-size: 13vw;
    }
}