body {
    font-family: "Lexend Deca", sans-serif;
    background-color: rgb(253, 253, 242);
    padding: 20px;
}

main {
    background-color: #f7dddc;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #888888;
}

h1 {
    font-size: 80px;
    color: #EF4F47;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    color:rgb(112, 108, 103);
    font-size: 20px;
}

@media screen and (max-width: 899px) {
    h1 {
        font-size: 40px;
        margin-top: 10px;
    }
    main {
        margin-top: 40px;
    }
}