body {
    background-color: #313532;
    font-family: 'Bungee', Helvetica, Arial, cursive;
}

.theframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.artfilling {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
    color: rgb(121, 161, 130);
}